#main-header img {
  width: 100%;
  height: 100%;
}
#rightsection {
  transition: 0.3s ease;
}
.fab:hover {
  transform: translateY(-8px);
}
.bg-black {
  background: black;
}
.port-item {
  width: 30%;
}
.port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 1199px) {
  .fab {
    font-size: 2em;
  }
  .port-item {
    padding: 3em !important;
  }
}
